<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="bodyh">
    <%-include("./composant/header")%>
    <div class="presentation">
      <h1>
        Organisez un shooting photo avec un photographe professionnel à
        proximité de chez vous
      </h1>
      <p>
        Trouver un photographe n'a jamais été aussi simple ... Annuaire de
        photographes 100% gratuit – Inscription et messagerie gratuite
      </p>
      <button class="bP">Trouver un photographe</button>
    </div>
    <section class="localite">
        <h1>Trouver un photographe en fonction de sa localite</h1>
        <div class="localisation">

            <div>
                <a href="">Dakar</a>
            </div>
            <div>
                <a href="">Pikine</a>
            </div>
            <div>
                <a href="">Saint-Louis</a>
            </div>
            <div>
                <a href="">Camberene</a>
            </div>
            <div>
                <a href="">Yoff</a>
            </div>
            <div>
                <a href="">Mermoz</a>
            </div>
            <div>
                <a href="">Golf</a>
            </div>
        </div>
    </section>
  </body>
</html>
