<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styleC.css" />
  </head>
  <body>
    <div><%-include("./composant/header")%></div>
    <div>
        <main>

            <div class="title"><h1>
                Nous vous offrons des seances shooting en fonction de vos Evenement
            </h1></div>
            <div class="habi">
              <div class="modele">
                <img
                  src="https://i2.wp.com/liiquotidien.com/wp-content/uploads/2022/01/271846727_142268581519387_2180549311433505626_n.jpg?resize=640%2C799&ssl=1"
                  width="500px"
                  height="500px"
                  alt=""
                />
              </div>
              <div class="descrition">
                <h2>
                  Lorem ipsum, dolor sit amet consect voluptate fugit labore rerum
                  recusandae architecto ex cumque asperiores, eligendi maxime, dolorem
                  eius, incidunt nemo deserunt est explicabo placeat rem harum
                  reiciendis consectetur illo unde commodi! Eius, nisi ad!
                </h2>
              </div>
            </div>
            <div class="habi">
              <div class="descrition">
                <h2>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum
                  mollitia debitis voluptas, aut amet officia esse odio doloribus quos
                  accusamus veniam. Sapiente mollitia cumque dolorem quis quia facere
                  vel accusantium! Perspiciatis a magnam, distinctio maxconsectetur
                  id!
                </h2>
              </div>
              <div class="modele">
                <img
                  src="https://www.leral.net/photo/art/grande/40744354-34488274.jpg?v=1576247227"
                  width="500px"
                  height="500px"
                  alt=""
                />
              </div>
            </div>
            <div class="habi">
              <div class="modele">
                <img
                  src="https://www.senenews.com/wp-content/uploads/2022/04/img_3486-565x696.jpg"
                  width="500px"
                  height="500px"
                  alt=""
                />
              </div>
              <div class="descrition">
                <h2>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum
                  mollitia debitis voluptas, aut amet officia esse odio doloribus quos
                  accusamus veniam. Sapiente mollitia cumque dolorem quis quia facere
                  vel accusantium!
                </h2>
              </div>
            </div>
            <div class="habi">
              <div class="descrition">
                <h2>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum
                  mollitia debitis voluptas, aut amet officia esse odio doloribus quos
                  accusamus veniam. Sapiente mollitia cumque dolorem quis quia facere
                  vel accusantium! Perspiciatis a magnam, distinctio maxime ipsam
                  excepturi nihil id nisi repellat ipsum rerum laboriosam laborum iste
                  ea consectetur, itaque atque, esse ipsa explicabo at! Quibusdam
                  reiciendis et cupiditate id? Illum. Rerum ullast
                </h2>
              </div>
              <div class="modele">
                <img
                  src="https://create.vista.com/files/dp/st3_12985790_166506968_thumb_450.jpg"
                  width="500px"
                  height="500px"
                  alt=""
                />
              </div>
            </div>
            <div class="habi">
              <div class="modele">
                <img
                  src="https://olegsotnik.com/wp-content/uploads/2021/07/SHOOTING-IMMOBILIER-DE-LUXE-appartement-avenue-Montaigne-e1670611152550.jpg"
                  width="500px"
                  height="500px"
                  alt=""
                />
              </div>
              <div class="descrition">
                <h2>
                  Lorem ipsum, dolor sit amet consectetur adiplaceat rem harum
                  reiciendis consectetur illo unde commodi! Eius, nisi ad!
                </h2>
              </div>
            </div>
            <div class="habi">
              <div class="descrition">
                <h2>
                  Lorem ipsum, dolor sit amet consectetur adiplaceat rem harum
                  reiciendis consectetur illo unde commodi! Eius, nisi ad!
                </h2>
              </div>
              <div class="modele">
                <img
                  src="https://www.atypix.photo/wp-content/uploads/2020/03/Atypix-Photographe-Evenementiel.jpg"
                  width="500px"
                  height="500px"
                  alt=""
                />
              </div>
            </div>
          </div>
          <section class="sec1">
            <h1>Trouver un photographe en fonction de sa specialite</h1>
            <div class="spec">
              <div>
                <a href="#">Evenement</a>
              </div>
              <div>
                <a href="#">Grossesse</a>
              </div>
              <div>
                <a href="#">Immobilier</a>
              </div>
              <div>
                <a href="#">Mariage</a>
              </div>
              <div>
                <a href="#">Naissance</a>
              </div>
              <div>
                <a href="#">shooting</a>
              </div>
            </div>
          </section>
        </main>
  </body>
</html>
